<strong>Olá, {{ deliveryman }}</strong>
<p>Houve um cancelamento em uma entrega, confira os detalhes abaixo: </p>
<p>
  <strong>Produto: </strong> {{ product  }} <br />
  <strong>Data/hora: </strong> {{ date }} <br />
  <br />
  <small>
    Essa entrega não sera mais realizada.
  </small>
</p>